$cl-red = #EE4540 
$cl-green = #47b39d
$cl-yellow = #ffc253
$cl-blue = #2db7f5
$cl-orange = #eb6b56
$cl-pink = #f18c8e
$cl-purple = #AC13D0
$cl-black = #344e5c

$cl-darkgray = #4d5e72
$cl-darkred = #b05f6d
$cl-darkpur = #462446

$cl-title = #1c2438
$cl-content = #495360
$cl-subColor = #808695
$cl-disabled = #bbbec4
$cl-border = #dddee1
$cl-divider = #e9eaec
$cl-bg = #f8f8f9
$cl-info = #2db7f5

$shadow = 0 0 .4rem 0 #AAAAAA
$radius = .4rem 

$headerHeight = .86rem